



body {
    font-family: Arial, sans-serif;
    display: grid;
    align-items: center;
    justify-items: center;
  }

.layout {
    background-color: rgb(73, 73, 73);
    width: 100%;
    border-radius: 10px;
    text-align: center;
    color: white;
    padding: 2px;
    position: absolute;
    top: 1%;
}
  


.button {
    background-color: white;
    box-shadow: 0px 0px 5px 1px;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    transition: ease-in-out 200ms;
    color: black
}

.button:hover {
    box-shadow: 0px 0px 5px 3px;
}

.container {
    display: flex;
    flex-direction: row;

}

button {
    margin: auto;
    transition: ease-in-out 300ms;
    border-radius: 3px;
    font-size: 2vh;
}

button:hover {
    box-shadow:  0px 0px 5px 1px;
    background-color: rgb(250, 130, 114);
    border-color: rgb(253, 230, 219);
}


@media screen and (orientation: landscape) {
    .Logo {
        width: 7vh;
        position: absolute;
        top: 28vh;
        left: 65vh
    }
    html {
        zoom: 2.7;
      }
}

@media screen and (orientation: portrait) {
    .Logo {
        width: 7vh;
        position: absolute;
        top: 30%;
        left:15%;
    }
    html {
    zoom: 1.5;
  }
}